accelerate
chainlit
ctransformers
einops
faiss-cpu
fastapi-socketio
flask
httptools
ipykernel
langchain
langchain-chroma
llama-cpp-python
openai
openpyxl
pandas
pip-chill
pypdf
pypdf2
python-graphql-client
rapidfuzz
sentence-transformers
torchaudio
torchvision
